body {
    background-color: #eee;
    color: #555;
}

.small-img {
    width: 150px;
    height: auto;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 20px;
}

.search-results {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #ddebf7;
    overflow-x: hidden;
    padding-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2rem;
    object-fit: contain;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 420px;
    height: 100%;
    background-color: #ddebf7;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.todolist {
    background-color: #fff;
    padding: 20px 20px 10px 20px;
    width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    position: relative;
}

h3 {
    margin: 0;
    padding-left: 20px;
    text-align: center;
    /* text-transform: uppercase; */
}

h4 {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    /* text-transform: uppercase; */
}

/* CSS */
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    border: none;
    margin: 10px;

    color: #fff;
    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.todolist .info {
    position: absolute;
    margin-top: 20px;
    left: 0;
    right: 0;
    color: #999;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

li.completed label {
    text-decoration: line-through;
    color: #aaa;
}

footer {
    border-top: 1px solid #ddd;
    background-color: #f4fce8;
    margin: 0 -20px -10px -20px;
    padding: 12px 20px;
    position: relative;
    color: #777;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters li {
    display: inline-block;
}

.filters li a {
    cursor: pointer;
    color: inherit;
    margin: 3px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.buttons-container {
    display: flex;
}

.button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    /* other styles go here */
}

.filters li a.selected,
.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
    color: #555;
}

.alert.alert-info {
    margin: 10px 0;
    padding: 10px;
    border-radius: 0;
    background: #f2f2f2;
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: #888;
}
