body {
    background-color: #eee;
    color: #555;
}

.example-img-pos {
    border: 5px solid #308339;
}

.example-img-neg {
    border: 5px solid #860e0e;
}

/* .small-img { */
/*  */
/* } */

.grayed-out {
    filter: grayscale(40%);
    opacity: 0.25;
}

.side-by-side {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 20px;
}

.search-results {
    width: 500px;
    height: 100%;
    background-color: #ddebf7;
    overflow-x: hidden;
    padding-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    padding-top: 20px;
}

.center-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2rem;
    object-fit: contain;
}

.sidebar {
    width: 420px;
    height: 100%;
    background-color: #ddebf7;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


h3 {
    margin: 0;
    padding-left: 20px;
    text-align: center;
    /* text-transform: uppercase; */
}

h4 {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    /* text-transform: uppercase; */
}

/* CSS */
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    border: none;
    margin: 10px;

    color: #fff;
    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px #367af640,
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* CSS */
.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    margin: 10px;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-10-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    border: none;
    margin: 10px;

    color: #fff;
    background: linear-gradient(180deg, #54575c 0%, #383b42 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        0px 0px 0px 3.5px #3a6cd980;
    outline: 0;
}



li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

li.completed label {
    text-decoration: line-through;
    color: #aaa;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters li {
    display: inline-block;
}

.filters li a {
    cursor: pointer;
    color: inherit;
    margin: 3px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.buttons-container {
    margin-top: 8px;
    display: flex;
}

.button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    /* other styles go here */
}

.filters li a.selected,
.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
    color: #555;
}

.alert.alert-info {
    margin: 10px 0;
    padding: 10px;
    border-radius: 0;
    background: #f2f2f2;
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: #888;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18%;
    background-color: #367af6;
    color: white;
    text-align: center;
    margin-top: auto;
}

.speech-bubble {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #367af6;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
}

.speech-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent #367af6 transparent transparent;
}